@import "~bootstrap/scss/bootstrap";

@mixin specific-theme(
  $bg-color,
  $fg-color,
  $hover-color,
  $font-color,
  $strip-color,
  $accordion-active-bg,
  $accordion-active-color,
  $table-border-color,
  $border-color,
  $icon-hover-color,
  $background-image,
  $close-color,
  $mid-color,
  $end-color
) {
  background-color: #{$bg-color};
  color: #{$font-color};
  --bs-body-color: #{$font-color};
  @include gradient-y-three-colors(
    $start-color: $bg-color,
    $mid-color: $mid-color,
    $color-stop: 75%,
    $end-color: $end-color
  );
  .btn-dice {
    --bs-btn-bg: #{$fg-color};
    --bs-btn-hover-bg: $fg-color !important;
    &:hover {
      background-color: #{$hover-color};
    }
  }
  .btn-dnd {
    --bs-btn-bg: #{$fg-color};
    --bs-btn-hover-bg: $fg-color !important;

    &:hover {
      background-color: #{$hover-color};
      background-size: 115px 135px;
      transition: 1s linear !important;
      background-image: url("@/../public/" + $background-image);
      background-repeat: no-repeat;
    }
    &--hovered {
      background-size: 115px 135px;
      background-color: #{$hover-color};
      background-image: url("@/../public/" + $background-image);
      background-repeat: no-repeat;
    }
  }
  .btn-close {
    filter: #{$close-color};
  }
  .btn-icon {
    --bs-btn-hover-color: #{$icon-hover-color};
  }
  .bg-right-panel {
    background-color: #{$fg-color};
  }
  .bg-dnd {
    --bs-card-color: #{$font-color};
    --bs-card-bg: #{$fg-color};
    --bs-card-border-color: #{$border-color};
    --bs-card-title-color: #{$font-color};
    --bs-card-cap-color: #{$font-color};
  }
  .input-dnd {
    color-scheme: dark !important;
    background-color: #{$fg-color} !important;
    border-color: #{$border-color} !important;
    height: 4rem;
    width: 4rem;
  }
  .list-group-item {
    background-color: #{$fg-color};
    -webkit-transition: background-image 2s 0.5s;
    transition: background-image 2s 1s !important;
  }
  .navbar-brand {
    color: #{$font-color};
  }
  .accordion {
    --bs-accordion-bg: #{$fg-color};
    --bs-accordion-border-color: #{$border-color};
    --bs-accordion-active-bg: #{$accordion-active-bg};
    --bs-accordion-active-color: #{$accordion-active-color};
  }
  .table {
    --bs-table-color-type: #{$font-color};
    --bs-table-bg-type: #{$fg-color};
    --bs-table-striped-color: #{$font-color};
    --bs-table-striped-bg: #{$strip-color};
    --bs-table-border-color: #{$table-border-color};
  }

  ::-webkit-scrollbar-track {
    background: $bg-color !important;
  }
  ::-webkit-scrollbar-thumb {
    background: lighten($fg-color, 10%) !important;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: lighten($fg-color, 15%) !important;
  }

  ::-webkit-scrollbar {
    width: 10px !important;
  }
}
