@import "~bootstrap/scss/bootstrap";

@import "mixins.scss";
@import "classes.scss";
@import "scrollbar.scss";

[data-bs-theme="dnd-dark"] {
  @include specific-theme(
    $bg-color: #151a1f,
    $fg-color: $dark,
    $hover-color: #404c54,
    $font-color: var(--bs-white),
    $strip-color: $gray-800,
    $accordion-active-bg: $cyan-900,
    $accordion-active-color: $cyan-400,
    $table-border-color: $gray-700,
    $border-color: $gray-700,
    $icon-hover-color: $gray-700,
    $background-image: "card.png",
    $close-color: var(--bs-btn-close-white-filter),
    $mid-color: $blue-900,
    $end-color: $indigo-900
  );
}

[data-bs-theme="dnd-light"] {
  @include specific-theme(
    $bg-color: #e6ded2,
    $fg-color: #d9d3bd,
    $hover-color: #b1a391,
    $font-color: var(--bs-dark),
    $strip-color: #cbc0a8,
    $accordion-active-bg: $teal-200,
    $accordion-active-color: $teal-700,
    $table-border-color: $gray-800,
    $border-color: $gray-800,
    $icon-hover-color: $gray-700,
    $background-image: "card-light.png",
    $close-color: var(--bs-btn-close-filter),
    $mid-color: $yellow-200,
    $end-color: $orange-800
  );
}
